{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="small-box {{ settings.color }}">
        <div class="inner">
            <h3>{{ data }}</h3>
            <p>
                {{ settings.title }}
            </p>
        </div>
        <div class="icon">
            {{ settings.icon|parse_icon }}
        </div>
        <a href="{{ path('admin_app_zarizeni_list') }}" class="small-box-footer">
            Detail <i class="fas fa-arrow-circle-right" aria-hidden="true"></i>
        </a>
    </div>
{% endblock %}